    <div class="jumbotron">
      <div class="container">
        <h1>Find A Movie!</h1>
        <p>Search for a movie ussing the form below</p>
        
        <form (submit)="searchMovies($event)">
         <input type="text" class="form-control" name="searchStr" placeholder="Name of movie ..." [(ngModel)]="searchStr"> 
         <br>
          <button class="btn btn-primary btn-lg" type="submit" >Find</button>
        </form>
      </div>
    </div>

    <div class="container">
        <div *ngIf="searchResult" class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Search Result </h3>
            </div>
            <div class="panel-body">
               <div class="row">
                  <div class="col-md-2"  *ngFor="let movie of searchResult ; let i = index;">
                    <div *ngIf="i < 18">       
                      <img *ngIf="movie.poster_path" class="thubnail" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}">
                      <h3>{{movie.title}}</h3>
                      <p>{{movie.release_date}} </p>
                      <p><a class="btn btn-default" routerLink="/movie/{{movie.id}}">View details &raquo;</a></p>
                    </div>
                  </div>       
                </div>
            </div>
        </div>

    
       <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Popular Movies</h3>
        </div>
        <div class="panel-body">
           <div class="row">
              <div class="col-md-2"  *ngFor="let movie of popularList ; let i = index;">
                <div *ngIf="i < 6">       
                  <img *ngIf="movie.poster_path" class="thubnail" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}">
                  <h3>{{movie.title}}</h3>
                  <p>{{movie.release_date}} </p>
                  <p><a class="btn btn-default" routerLink="/movie/{{movie.id}}">View details &raquo;</a></p>
                </div>
              </div>       
            </div>
        </div>
      </div> 

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">In Theaters</h3>
        </div>
        <div class="panel-body">
           <div class="row">
              <div class="col-md-2"  *ngFor="let movie of theatersList ; let i = index;">
                <div *ngIf="i < 12">       
                  <img *ngIf="movie.poster_path" class="thubnail" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}">
                  <h3>{{movie.title}}</h3>
                  <p>{{movie.release_date}} </p>
                  <p><a class="btn btn-default" routerLink="/movie/{{movie.id}}">View details &raquo;</a></p>
                </div>
              </div>       
            </div>
        </div>
      </div>    
    </div> <!-- /container -->